<div class="row">
  <div class="col-xs-12">
    <form>
      <!-- TODO: 1. Use Angular Template #Variable syntax to grab <input> element -->
      <!-- TODO: 2. Then add (click) output-event emitter to 'Add' button -->
      <!-- TODO: 3. OnClick the 'Shopping-Edit' Angular component should trigger a HandlerMethod() that will instantiate a new Ingredient() object -->
      <!-- TODO: 4. The new Ingredient() object instance should then be pushed into an ingredient-list array -->
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input #nameInput type="text" id="name" class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input #amountInput type="number" id="amount" class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            (click)="createIngredient($event)"
            class="btn btn-success"
            type="submit"
          >
            Add
          </button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
